t-test is a statistical test and used to determine if there is any significant difference between the means of two groups.

If we are considering only one continuous feature, then we can use one sample t-test.

In [1]:
import numpy as np

from scipy.stats import ttest_1samp

In [2]:
ages = [10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [3]:
len(ages)

32

In [4]:
ages_mean = np.mean(ages)
print(ages_mean)

30.34375

In [5]:
sample_size = 10
age_sample = np.random.choice(ages,sample_size)

In [6]:
print(age_sample)
ages_sample_mean = np.mean(age_sample)
print(ages_sample_mean)

[35 20 19 18 55 18 10 14 21 35]
24.5

Here p is significance value.

If p is less that 0.05 we are rejecting null hypothesis and accepting alternating hypothesis.

If p value is greater than 0.05 then we are accepting null hypothesis.

In [7]:
ttest,p_value = ttest_1samp(age_sample,30)

In [8]:
print(p_value)

0.22690515066011183

In [9]:
print(ttest)

-1.296963017073053

In [10]:
if p_value < 0.05:
    print(" We are rejecting null hypothesis")
else:
    print("We are accepting null hypothesis")

We are accepting null hypothesis

If we are considering two features, then we can use two sample t-test.

If we want to check how different sample from the same group are we can use paired t-test.

For example lets consider weights of some students, after some days weight may change. But we are considering same group, so here we have to use paired t-test.

And if there is one numerical feature and one categorical feature with only two categories then we can use t-test.

If there is one numerical feature and one categorical feature with more than two categories then we have to go with ANOVA test.